.env
eval_rohdaten_v1.csv
eval_aggregat_v1.csv
__pychache__
__pycache__/
*.pyc
.deepeval/
persistence/
persistence/konversationen/
scripts/*.json
logs/
visualization/eval*.csv
visualization/rq2*.csv